CompileFlags:
  Add:
    - "-I/home/jame/Desktop/public/Qt/calculator"
    - "-I/usr/include/qt"
    - "-I/usr/include/qt/QtWidgets"
    - "-I/usr/include/qt/QtGui" 
    - "-I/usr/include/qt/QtCore" 
    - "-I/home/jame/Desktop/public/Qt/calculator/build"
    - "-I/usr/lib/qt/mkspecs/linux-g++" 
Diagnostics:
  MissingIncludes: Strict
  UnusedIncludes: Strict
